<quill-editor
	#editor
	[format]="format"
	[theme]="theme"
	[modules]="modules"
	[debug]="debug"
	[readOnly]="readOnly"
	[placeholder]="placeholder"
	[maxLength]="maxLength"
	[minLength]="minLength"
	[required]="required"
	[formats]="formats"
	[customToolbarPosition]="customToolbarPosition"
	[sanitize]="sanitize"
	[beforeRender]="beforeRender"
	[styles]="styles"
	[strict]="strict"
	[scrollingContainer]="scrollingContainer"
	[bounds]="bounds"
	[customOptions]="customOptions"
	[customModules]="customModules"
	[trackChanges]="trackChanges"
	[preserveWhitespace]="preserveWhitespace"
	[classes]="classes"
	[trimOnValidation]="trimOnValidation"
	[linkPlaceholder]="linkPlaceholder"
	[compareValues]="compareValues"
	[filterNull]="filterNull"
	[debounceTime]="debounceTime"
	[defaultEmptyValue]="defaultEmptyValue"
	(onContentChanged)="onEditorContent($event)"
></quill-editor>
