<input
	id="{{ id }}"
	ddcValidation
	type="number"
	class="form-control"
	[ngClass]="field.cssClass"
	[ngStyle]="field.cssStyle"
	placeholder="{{
		translateKey(field.placeholder) | translate : translateParams(field.placeholder)
	}}"
	[formControl]="field.formControl"
	[flgOnInitValidation]="field.flgOnInitValidation"
	[flgOnSubmitValidation]="field.flgOnSubmitValidation"
	[submitted]="field.submitted"
	[showValid]="field.showValid"
	[validations]="field.validations"
	[supports]="field.supports"
	[styles]="field.styles"
	[valids]="field.valids"
	[min]="min"
	[max]="max"
/>
