<div class="container-loading">
	<ddc-init-app-loading [loading]="loading"></ddc-init-app-loading>

	<div *ngIf="!list || !list.length">{{ 'PERSONAL.VIC.ATTACHMENT.EMPTY_LIST' | translate }}</div>

	<div *ngIf="list && list.length">
		<div class="row p-2" *ngFor="let attachment of list">
			<div ddcBtsSize [btsSize]="'1|2|12'" [btsPrefix]="'col-'">
				<img
					*ngIf="attachment.tpattachment"
					[src]="iconType(attachment.tpattachment.id)"
					class="img-fluid icon-list"
				/>

				<hr />

				<span>
					{{
						translateKey(labelType(attachment.tpattachment.id))
							| translate : translateParams(labelType(attachment.tpattachment.id))
					}}
				</span>
			</div>

			<div ddcBtsSize [btsSize]="'9|7|12'" [btsPrefix]="'col-'">
				<a
					*ngIf="attachment.src && attachment.fileEmbed && !blocked"
					(click)="goToFile(attachment)"
				>
					{{ attachment.name }}.{{ attachment.ext }}
				</a>

				<span *ngIf="!attachment.src || !attachment.fileEmbed || blocked">
					{{ attachment.name }}.{{ attachment.ext }}
				</span>

				<span class="ml-2"> [{{ getSize(attachment) }}]</span>
			</div>

			<div ddcBtsSize [btsSize]="'2|3|12'" [btsPrefix]="'col-'">
				<a
					class="mr-2"
					(click)="modifica(attachment)"
					title="{{ 'PERSONAL.BUTTON.EDIT' | translate }}"
				>
					<span class="fa fa-edit mr-2 text-primary"></span>

					<span>{{ 'PERSONAL.BUTTON.EDIT' | translate }}</span>
				</a>

				<shared-confirmation-modal
					#delConfirm
					[text]="getConfirmDelText(attachment)"
					(confirm)="elimina(attachment.id); delConfirm.close()"
				>
					<a
						class="mr-2"
						(click)="delConfirm.open()"
						title="{{ 'PERSONAL.BUTTON.DELETE' | translate }}"
					>
						<span class="fa fa-trash mr-2 text-danger"></span>

						<span>{{ 'PERSONAL.BUTTON.DELETE' | translate }}</span>
					</a>
				</shared-confirmation-modal>
			</div>
		</div>
	</div>

	<!-- form -->

	<div *ngIf="editMode" class="card border-primary mt-4 p-3">
		<div class="card-header">
			<a class="m-2" (click)="close()" title="{{ 'PERSONAL.BUTTON.CLOSE' | translate }}">
				<span class="fa fa-times fa-2x mr-2 text-danger"></span>
			</a>
		</div>

		<div class="card-body text-primary">
			<h5 *ngIf="titleForm" class="card-title">
				{{ translateKey(titleForm) | translate : translateParams(titleForm) }}
			</h5>

			<reserve-profile-attachment
				[id_user]="id_user"
				[id_attachment]="id_attachment"
				[tpattachment]="tpattachment"
				[flgPrincipal]="false"
				[blocked]="blocked"
				[viewmode]="false"
				(emitSave)="onSave($event)"
			>
			</reserve-profile-attachment>
		</div>
	</div>

	<div class="float-right p-4">
		<a
			*ngFor="let type of tpattachmentsLink"
			class="mr-2"
			(click)="nuova(type)"
			title="{{
				translateKey(labelType(type.toString()))
					| translate : translateParams(labelType(type.toString()))
			}}"
		>
			<span class="fa fa-plus-circle mr-2 text-primary"></span>

			<span>
				{{
					translateKey(labelType(type.toString()))
						| translate : translateParams(labelType(type.toString()))
				}}
			</span>
		</a>
	</div>
</div>
