<h4 class="mt-2">Buttons</h4>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>


<h4 class="mt-2">Buttons outline</h4>

<div>Uso della classe <code class="language-plaintext highlighter-rouge">.btn-outline-XXX</code></div>

<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>

<h4 class="mt-2">Buttons sizes</h4>

<button type="button" class="btn btn-primary btn-lg">Large button lg</button>
<button type="button" class="btn btn-primary btn-md">Medium button md</button>
<button type="button" class="btn btn-primary btn-sm">Small button sm</button>
<button type="button" class="btn btn-primary btn-xs">Extra Small button xs</button>

<h4 class="mt-2">Buttons active</h4>

<button type="button" class="btn btn-primary active">Primary</button>
<button type="button" class="btn btn-secondary active">Secondary</button>
<button type="button" class="btn btn-success active">Success</button>
<button type="button" class="btn btn-danger active">Danger</button>
<button type="button" class="btn btn-warning active">Warning</button>
<button type="button" class="btn btn-info active">Info</button>
<button type="button" class="btn btn-light active">Light</button>
<button type="button" class="btn btn-dark active">Dark</button>

<button type="button" class="btn btn-link active">Link</button>

<h4 class="mt-2">Buttons disabled</h4>

<button type="button" class="btn btn-primary" disabled>Primary</button>
<button type="button" class="btn btn-secondary" disabled>Secondary</button>
<button type="button" class="btn btn-success" disabled>Success</button>
<button type="button" class="btn btn-danger" disabled>Danger</button>
<button type="button" class="btn btn-warning" disabled>Warning</button>
<button type="button" class="btn btn-info" disabled>Info</button>
<button type="button" class="btn btn-light" disabled>Light</button>
<button type="button" class="btn btn-dark" disabled>Dark</button>

<button type="button" class="btn btn-link" disabled>Link</button>

<div id="accordionDiv" class="m-3">
  <div class="card">
    <div class="card-header" id="headingDiv">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDiv" aria-expanded="false"
          aria-controls="collapseDiv">
          Personalizzazione
        </button>
      </h5>
    </div>

    <div id="collapseDiv" class="collapse" aria-labelledby="headingDiv" data-parent="#accordionDiv">
      <div class="card-body">
        <pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>          

          ```css
          .btn-primary &#123;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
          &#125;

          .btn-primary:hover &#123;
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
          &#125;

          .btn-primary:focus, .btn-primary.focus &#123;
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          &#125;

          .btn-primary.disabled, .btn-primary:disabled &#123;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
          &#125;

          .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
          .show > .btn-primary.dropdown-toggle &#123;
            color: #fff;
            background-color: #0062cc;
            border-color: #005cbf;
          &#125;

          .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-primary.dropdown-toggle:focus &#123;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          &#125;

          
          ```
          
        </div>
      </pre>
      </div>
    </div>
  </div>
</div>