<input
	id="{{ id }}"
	ddcInputPassword
	[textShow]="translateKey(textShow) | translate : translateParams(textShow)"
	[textHide]="translateKey(textHide) | translate : translateParams(textHide)"
	[titleShow]="translateKey(titleShow) | translate : translateParams(titleShow)"
	[titleHide]="translateKey(titleHide) | translate : translateParams(titleHide)"
	type="password"
	class="form-control"
	[ngClass]="cssInput"
	[ngStyle]="field.cssStyle"
	[formControl]="field.formControl"
/>

<div *ngFor="let support of field.supports" class="input-support-message">
	{{ translateKey(support) | translate : translateParams(support) }}
</div>

<div *ngFor="let error of errorMessages" class="input-invalid-message">
	{{ translateKey(error) | translate : translateParams(error) }}
</div>

<div *ngFor="let valid of validMessages" class="input-valid-message">
	{{ translateKey(valid) | translate : translateParams(valid) }}
</div>

<div
	*ngFor="let styleMessage of styleMessages"
	[ngClass]="styleMessage.class ? styleMessage.class + '-message' : 'input-generic-message'"
	[style.color]="styleMessage.color"
>
	{{ translateKey(styleMessage) | translate : translateParams(styleMessage) }}
</div>
