<form [formGroup]="formLanguage">
  <label *ngIf="showLabel" for="{{id}}"
    [innerHTML]="translateKey(selectLanguages.label) |translate: translateParams(selectLanguages.label)"></label>
  <ng-container *ngIf="!showImage">
    <ddc-init-input-select #languages [id]="id" [field]="selectLanguages" [options]="optionLanguages" [noMargin]="true">
    </ddc-init-input-select>
  </ng-container>
  <ng-container *ngIf="showImage">
    <ddc-init-form-select-div #languages [id]="id" [field]="selectLanguages" [options]="optionLanguages"
      [hideArrows]="hideArrows">
    </ddc-init-form-select-div>
  </ng-container>
</form>
