.banner-style {
  position: fixed;  
  display: none;
  z-index: 9999;
  padding: 0.8rem 1.6rem;

  .close{
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
    margin: -.2rem 0 0 0;
    font-weight: bold;
  }

  .text {    
    
  }
}