.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
  .modal-body {
    overflow-y: auto;
  }
}

@media (min-width: 576px){
  .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
      .modal-body {
        overflow-y: auto;
      }
  }
}