<h4 class="mt-2">Alerts</h4>

<div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-secondary" role="alert">A simple secondary alert—check it out!</div>
<div class="alert alert-success" role="alert">A simple success alert—check it out!</div>
<div class="alert alert-danger" role="alert">A simple danger alert—check it out!</div>
<div class="alert alert-warning" role="alert">A simple warning alert—check it out!</div>
<div class="alert alert-info" role="alert">A simple info alert—check it out!</div>
<div class="alert alert-light" role="alert">A simple light alert—check it out!</div>
<div class="alert alert-dark" role="alert">A simple dark alert—check it out!</div>

<h4 class="mt-2">Alerts with link</h4>

<div class="alert alert-primary" role="alert">
	A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-secondary" role="alert">
	A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click
	if you like.
</div>
<div class="alert alert-success" role="alert">
	A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-danger" role="alert">
	A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-warning" role="alert">
	A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-info" role="alert">
	A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-light" role="alert">
	A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>
<div class="alert alert-dark" role="alert">
	A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
	you like.
</div>

<h4 class="mt-2">Contenuto aggiuntivo</h4>

<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Well done!</h4>
	<p>
		Aww yeah, you successfully read this important alert message. This example text is going to run
		a bit longer so that you can see how spacing within an alert works with this kind of content.
	</p>
	<hr />
	<p class="mb-0">
		Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
	</p>
</div>

<h4 class="mt-2">Icona close</h4>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Holy guacamole!</strong> You should check in on some of those fields below.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div id="accordionDiv" class="m-3">
	<div class="card">
		<div class="card-header" id="headingDiv">
			<h5 class="mb-0">
				<button
					class="btn btn-link"
					data-toggle="collapse"
					data-target="#collapseDiv"
					aria-expanded="false"
					aria-controls="collapseDiv"
				>
					Personalizzazione
				</button>
			</h5>
		</div>

		<div id="collapseDiv" class="collapse" aria-labelledby="headingDiv" data-parent="#accordionDiv">
			<div class="card-body">
				<pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>          

          ```css
          .alert-primary &#123;
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
          &#125;
          
          .alert-primary hr &#123;
            border-top-color: #9fcdff;
          &#125;
          
          .alert-primary .alert-link &#123;
            color: #002752;
          &#125;
          ```
          
        </div>
      </pre>
			</div>
		</div>
	</div>
</div>
