<h4>Messaggio applicativo in modale</h4>

<a class="ml-2 btn btn-sm btn-info text-white" (click)="modal(EnumMessageType.INFO)">INFO</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-warning" (click)="modal(EnumMessageType.WARNING)">WARNING</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="modal(EnumMessageType.ERROR)">ERROR</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="modal(EnumMessageType.EXCEPTION)"
	>EXCEPTION</a
>
<span class="ml-2">|</span>
<hr />
<a class="ml-2 btn btn-sm btn-info text-white" (click)="modal(EnumMessageType.INFO, 200)"
	>CODICE 200</a
>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-info text-white" (click)="behaviourModal(EnumMessageType.INFO)"
	>BEHAVIOUR</a
>
<span class="ml-2">|</span>
<a
	class="ml-2 btn btn-sm btn-info text-white"
	(click)="behaviourModal(EnumMessageType.INFO, 'miaModale')"
	>MIA MODALE</a
>

<ddc-init-message-element
	[typeComponent]="'MODAL'"
	[idMessage]="'miaModale'"
></ddc-init-message-element>

<div id="accordionModal" class="m-3">
	<div class="card">
		<div class="card-header" id="headingModal">
			<h5 class="mb-0">
				<button
					class="btn btn-link"
					data-toggle="collapse"
					data-target="#collapseModal"
					aria-expanded="false"
					aria-controls="collapseModal"
				>
					Codice di riferimento
				</button>
			</h5>
		</div>

		<div
			id="collapseModal"
			class="collapse"
			aria-labelledby="headingModal"
			data-parent="#accordionModal"
		>
			<div class="card-body">
				<pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>
          Nell'applicazione è già definito un componente per i messaggi in modale costruito in `app.component.html`
          L'id del componente è univoco e definito in `environment.ts`

          ```typescript
          this.idMessageModal = environment.messages.idMessageModal;
          ```

          ```html
          &lt;ddc-init-message-element [typeComponent]="'MODAL'" [idMessage]="idMessageModal"&gt;&lt;/ddc-init-message-element&gt;
          ```

          Per mandargli un messaggio è sufficiente invocare l'opportuno metodo send di `MessageService` del modulo **kit**

          ```typescript
          const message = new MessageModel(
            EnumMessageType.INFO,
            undefined, // il campo codice è usato per evidenziare un codice numerico (es. 200, 400, 500 ...)
            'titolo',
            'testo del messaggio',
            'eccezione del messaggio',
          );
          this.messageService.sendSubjectMessage(message, environment.messages.idMessageModal);
          ```

          In alternativa è possibile usare un oggetto `BehaviourMessageModel` del modulo **kit**

          ```typescript
          const responseMessageDefault =  &#123;
            subject: &#123;
              flg: true,
              idComponent: this.environment.messages.idMessagePrincipal,
            &#125;,
            routing: undefined,
          &#125; 
          const behaviour = new BehaviourMessageModel(this.messageService,responseMessageDefault);
          const message = new MessageModel(
            EnumMessageType.INFO,
            undefined,
            'titolo',
            'testo del messaggio',
            'eccezione del messaggio',
          );

          // utilizza il responseMessageDefault
          behaviour.evalMessage(undefined, message);

          // utilizza il responseMessagePersonal
          const responseMessagePersonal =  &#123;
            subject: &#123;
              flg: true,
              idComponent: 'mioComponente',
            &#125;,
            routing: undefined,
          &#125; 
          behaviour.evalMessage(undefined, message);
          ```
        </div>
      </pre>
			</div>
		</div>
	</div>
</div>

<h4>Messaggio applicativo in div</h4>

<a class="ml-2 btn btn-sm btn-info text-white" (click)="div(EnumMessageType.INFO)">INFO</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-warning" (click)="div(EnumMessageType.WARNING)">WARNING</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="div(EnumMessageType.ERROR)">ERROR</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="div(EnumMessageType.EXCEPTION)"
	>EXCEPTION</a
>
<span class="ml-2">|</span>
<hr />
<a class="ml-2 btn btn-sm btn-info text-white" (click)="div(EnumMessageType.INFO, 200)"
	>CODICE 200</a
>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-info text-white" (click)="behaviourDiv(EnumMessageType.INFO)"
	>BEHAVIOUR</a
>
<span class="ml-2">|</span>
<a
	class="ml-2 btn btn-sm btn-info text-white"
	(click)="behaviourDiv(EnumMessageType.INFO, 'mioDiv')"
	>MIO DIV</a
>

<ddc-init-message-element [typeComponent]="'DIV'" [idMessage]="'mioDiv'"></ddc-init-message-element>

<div id="accordionDiv" class="m-3">
	<div class="card">
		<div class="card-header" id="headingDiv">
			<h5 class="mb-0">
				<button
					class="btn btn-link"
					data-toggle="collapse"
					data-target="#collapseDiv"
					aria-expanded="false"
					aria-controls="collapseDiv"
				>
					Codice di riferimento
				</button>
			</h5>
		</div>

		<div id="collapseDiv" class="collapse" aria-labelledby="headingDiv" data-parent="#accordionDiv">
			<div class="card-body">
				<pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>
          Nell'applicazione è già definito un componente per i messaggi in div costruito in `app.component.html`
          L'id del componente è univoco e definito in `environment.ts`

          ```typescript
          this.idMessageDiv = environment.messages.idMessageDiv;
          ```

          ```html
          &lt;ddc-init-message-element [typeComponent]="'DIV'" [idMessage]="idMessageDiv"&gt;&lt;/ddc-init-message-element&gt;
          ```

          Valgono le stesse chiamate fatte per la tipologia modal
          
        </div>
      </pre>
			</div>
		</div>
	</div>
</div>

<h4>Messaggio applicativo in routing</h4>

<a class="ml-2 btn btn-sm btn-info text-white" (click)="routing(EnumMessageType.INFO)">INFO</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-warning" (click)="routing(EnumMessageType.WARNING)">WARNING</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="routing(EnumMessageType.ERROR)">ERROR</a>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-danger text-white" (click)="routing(EnumMessageType.EXCEPTION)"
	>EXCEPTION</a
>
<span class="ml-2">|</span>
<hr />
<a class="ml-2 btn btn-sm btn-info text-white" (click)="routing(EnumMessageType.INFO, 200)"
	>CODICE 200</a
>
<span class="ml-2">|</span>
<a class="ml-2 btn btn-sm btn-info text-white" (click)="behaviourDiv(EnumMessageType.INFO)"
	>BEHAVIOUR</a
>
<span class="ml-2">|</span>
<a
	class="ml-2 btn btn-sm btn-info text-white"
	(click)="behaviourDiv(EnumMessageType.INFO, 'mioDiv')"
	>MIO DIV</a
>

<div id="accordionRouting" class="m-3">
	<div class="card">
		<div class="card-header" id="headingRouting">
			<h5 class="mb-0">
				<button
					class="btn btn-link"
					data-toggle="collapse"
					data-target="#collapseRouting"
					aria-expanded="false"
					aria-controls="collapseRouting"
				>
					Codice di riferimento
				</button>
			</h5>
		</div>

		<div
			id="collapseRouting"
			class="collapse"
			aria-labelledby="headingRouting"
			data-parent="#accordionv"
		>
			<div class="card-body">
				<pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>
          Nell'applicazione sono definite in `environment.ts` la pagina dei messaggi e la pagina di ritorno (back) da un messaggio          

          ```typescript
          url: &#123;
            message: ['commons', 'message'],
            home: ['app'],
            ...            
          &#125;,
          ```

          Per mandare un messaggio alla pagina dei messaggi è sufficiente invocare l'opportuno metodo send di `MessageService` del modulo **kit**
          Se non viene definito il **back** (ritorno) e il **to** (destinazione) al metodo sendRoutingMessage di `MessageService`, allora il messaggio viene inviato alla pagina *message* definita in environment e ritorna alla pagina *home* definita in environment
          Nel nostro caso ci ritorna comodo utilizzare il router per far tornare alla pagina corrente

          ```html
          const message = new MessageModel(
            type,
            code,
            'titolo',
            'testo del messaggio',
            'eccezione del messaggio',
          );		
          this.messageService.sendRoutingMessage(message, new RouteUrlModel(this.router.url));
          ```

          
          
        </div>
      </pre>
			</div>
		</div>
	</div>
</div>
