<h4>Org Tree</h4>

<gojs-cmp-org-tree
	#orgTreeCmp
	[diagramModel]="diagramModel"
	[diagramProperties]="diagramProperties"
	[divId]="divId"
	(onDiagram)="buildDiagram($event)"
	[templateBody]="templateBody"
	[templateFooter]="templateFooter"
></gojs-cmp-org-tree>

<ng-template #plusTemplateBody>
	{{ dataShow | json }}
</ng-template>

<ng-template #asteriskTemplateBody> <strong>Nome:</strong>{{ dataShow.name }} </ng-template>
<ng-template #asteriskTemplateFooter>
	<button class="btn btn-primary">Example</button>
</ng-template>

<wiki-gojs-diagram-common-btn [cmpDiagram]="orgTreeCmp"></wiki-gojs-diagram-common-btn>
