<h4>Flowchart</h4>

<gojs-cmp-flowchart
	#flowchartCmp
	[diagramModel]="diagramModel"
	[diagramProperties]="diagramProperties"
	[divId]="divId"
	[divPaletteId]="divId + '_Palette'"
	(onDiagram)="buildDiagram($event)"
	[templateBody]="templateBody"
	[templateFooter]="templateFooter"
></gojs-cmp-flowchart>

<ng-template #plusTemplateBody>
	{{ dataShow | json }}
</ng-template>

<ng-template #asteriskTemplateBody> <strong>Nome:</strong>{{ dataShow.text }} </ng-template>
<ng-template #asteriskTemplateFooter>
	<button class="btn btn-primary">Example</button>
</ng-template>

<wiki-gojs-diagram-common-btn [cmpDiagram]="flowchartCmp"></wiki-gojs-diagram-common-btn>
