<iframe
	*ngIf="querystring && (browserName === 'ie' || browserName === 'edge')"
	width="{{ width }}"
	height="{{ height }}"
	[src]="querystring | escapeurl"
></iframe>
<!--
<div [style.width]="width" [style.height]="height"
  style="width:100%;height:100%; float: none; clear: both; margin: 2px auto;">
  <embed [src]="querystring | escapeurl" wmode="transparent" type="application/x-shockwave-flash" width="100%"
    height="100%" allowfullscreen="true" title="Adobe Flash Player">
</div>
-->
<object
	*ngIf="querystring && browserName !== 'ie' && browserName !== 'edge'"
	[style.width]="width"
	[style.height]="height"
	style="float: none; clear: both; margin: 2px auto"
	[attr.data]="querystring | escapeurl"
></object>
