<div class="p-2">
	<a
		*auth-permissions="{
			permissions: ['SUPERVISOR', 'ALL_PERMISSIONS', 'VIEW_PROFILES'],
			hidden: true
		}"
		class="btn btn-primary btn-sm mr-2"
		(click)="goToProfileManagement()"
		title="{{ 'PERSONAL.BUTTON.PROFILE_USER_MANAGEMENT' | translate }}"
	>
		{{ 'PERSONAL.BUTTON.PROFILE_USER_MANAGEMENT' | translate }}
	</a>
	<a
		*auth-permissions="{
			permissions: [
				'SUPERVISOR',
				'ALL_PERMISSIONS',
				'VIEW_PROFILES',
				'MANAGER',
				'ALL_ACTIVITY_PERMISSIONS',
				'VIEW_ACTIVITY_PROFILES'
			],
			hidden: true
		}"
		class="btn btn-primary btn-sm mr-2"
		(click)="goToProfileManagement(true)"
		title="{{ 'PERSONAL.BUTTON.PROFILE_ACTIVITY_MANAGEMENT' | translate }}"
	>
		{{ 'PERSONAL.BUTTON.PROFILE_ACTIVITY_MANAGEMENT' | translate }}
	</a>
</div>
