<div
	*ngIf="field"
	class="form-control"
	ddcValidation
	[ngClass]="field.cssClass"
	[ngStyle]="field.cssStyle"
	[validationControl]="field.formControl"
	[flgOnInitValidation]="field.flgOnInitValidation"
	[flgOnSubmitValidation]="field.flgOnSubmitValidation"
	[submitted]="field.submitted"
	[showValid]="field.showValid"
	[validations]="field.validations"
	[supports]="field.supports"
	[styles]="field.styles"
	[valids]="field.valids"
	[style.height]="'unset'"
>
	<div
		*ngFor="let option of options; let i = index"
		class="form-check {{ isHorizontal ? 'form-check-inline' : '' }}"
	>
		<input
			class="form-check-input"
			type="radio"
			value="{{ option.key }}"
			id="{{ id + '_' + i }}"
			name="{{ id }}"
			[disabled]="field.formControl.disabled"
			[checked]="field.formControl.value === option.key"
			(click)="selectItem(option)"
		/>
		<label
			class="form-check-label"
			for="{{ id + '_' + i }}"
			[innerHTML]="
				translateKey(option.text) | translate : translateParams(option.text) | escapehtml
			"
		>
		</label>
	</div>
</div>
