<h4>Lines</h4>

<h5>default</h5>
class "line line-xl"
<hr class="line line-xl" />
class "line line-lg"
<hr class="line line-lg" />
class "line line-md"
<hr class="line line-md" />
class "line line-sm"
<hr class="line line-sm" />
class "line line-xs"
<hr class="line line-xs" />

<h5>color</h5>
class "line line-md bg-primary"
<hr class="line line-md bg-primary" />
class "line line-md bg-secondary"
<hr class="line line-md bg-secondary" />
class "line line-md bg-info"
<hr class="line line-md bg-info" />
class "line line-md bg-success"
<hr class="line line-md bg-success" />
class "line line-md bg-warning"
<hr class="line line-md bg-warning" />
class "line line-md bg-danger"
<hr class="line line-md bg-danger" />
class "line line-md bg-light"
<hr class="line line-md bg-light" />
class "line line-md bg-dark"
<hr class="line line-md bg-dark" />
class "line line-md bg-white"
<hr class="line line-md bg-white" />
class "line line-md bg-transparent"
<hr class="line line-md bg-transparent" />
