<div class="container-fluid">
  <h4>Libreria kit</h4>
  <div class="row">
    <div class="col col-12">
      <a class="ml-2 btn btn-sm btn-warning" (click)="set('KIT-VALIDATORS')">Modulo Validators</a>
      <span class="ml-2">|</span>
      <a class="ml-2 btn btn-sm btn-warning" (click)="set('KIT-HTML')">Modulo Html</a>
      <span class="ml-2">|</span>
      <a class="ml-2 btn btn-sm btn-warning" (click)="set('BOOTSTRAP-FORMS')">Bootstrap Forms</a>
      <span class="ml-2">|</span>
      <a class="ml-2 btn btn-sm btn-warning" (click)="set('KIT-CHARTS')">Modulo Charts</a>
      <span class="ml-2">|</span>
      <a class="ml-2 btn btn-sm btn-warning" (click)="set('KIT-ROUTING')">Modulo Routing</a>
    </div>
  </div>

  <div *ngIf="view" class="row mt-3" style="border: 1px #000 solid">
    <div class="col col-12 p-2">
      <a class="btn btn-sm btn-dark text-white float-right" (click)="set(undefined)">X</a>
      <wiki-test-kit-validators *ngIf="view==='KIT-VALIDATORS'"></wiki-test-kit-validators>
      <wiki-test-kit-html *ngIf="view === 'KIT-HTML'"></wiki-test-kit-html>
      <wiki-test-kit-charts *ngIf="view === 'KIT-CHARTS'"></wiki-test-kit-charts>
      <wiki-test-kit-routing *ngIf="view === 'KIT-ROUTING'"></wiki-test-kit-routing>
    </div>
  </div>

  <hr />
  <a class="btn btn-sm btn-dark text-white" [routerLink]="'/wiki'">BACK</a>
</div>
