.progress-container.border-rounded,
.progress-grow.border-rounded {
	border-top-left-radius: 10rem;
	border-bottom-left-radius: 10rem;
	border-top-right-radius: 10rem;
	border-bottom-right-radius: 10rem;
}
