<h4>Family Tree</h4>

<gojs-cmp-family-tree
	#familyTreeCmp
	[diagramModel]="diagramModel"
	[diagramProperties]="diagramProperties"
	[divId]="divId"
	(onDiagram)="buildDiagram($event)"
	[templateBody]="templateBody"
	[templateFooter]="templateFooter"
></gojs-cmp-family-tree>

<ng-template #plusTemplateBody>
	{{ dataShow | json }}
</ng-template>

<ng-template #asteriskTemplateBody> <strong>Nome:</strong>{{ dataShow.name }} </ng-template>
<ng-template #asteriskTemplateFooter>
	<button class="btn btn-primary">Example</button>
</ng-template>

<ng-template #familyTemplateBody>
	<strong>Nome:</strong>{{ dataShow.name }} <br />
	<strong>Spouse:</strong>{{ spouse ? spouse.name : 'Nessuno' }} <br />
	<strong>Childrens:</strong><br />
	<div *ngFor="let children of childrens">
		{{ children.name }}
	</div>
	<strong>Brothers:</strong><br />
	<div *ngFor="let brother of brothers">
		{{ brother.name }}
	</div>
</ng-template>

<wiki-gojs-diagram-common-btn [cmpDiagram]="familyTreeCmp"></wiki-gojs-diagram-common-btn>
