<reserve-roles [id_activity]="id_activity" [id_user]="id_user"></reserve-roles>

<div class="p-2">
	<a
		*auth-permissions="{
			permissions: ['SUPERVISOR', 'ALL_PERMISSIONS', 'MANAGE_PROFILES'],
			hidden: true
		}"
		class="btn btn-primary btn-sm mr-2"
		(click)="goToNewProfile()"
		title="{{ 'PERSONAL.PROFILE.ADD' | translate }}"
	>
		{{ 'PERSONAL.PROFILE.ADD' | translate }}
	</a>
	<a
		*auth-permissions="{
			permissions: [
				'SUPERVISOR',
				'ALL_PERMISSIONS',
				'MANAGE_PROFILES',
				'MANAGER',
				'ALL_ACTIVITY_PERMISSIONS',
				'MANAGE_ACTIVITY_PROFILES'
			],
			hidden: true
		}"
		class="btn btn-primary btn-sm mr-2"
		(click)="goToNewProfile()"
		title="{{ 'PERSONAL.PROFILE.ADD_ACTIVTY' | translate }}"
	>
		{{ 'PERSONAL.PROFILE.ADD_ACTIVTY' | translate }}
	</a>
</div>
