<h4 class="mt-2">Colors</h4>


<p class="text-primary">text-primary</p>
<p class="text-secondary">text-secondary</p>
<p class="text-info">text-info</p>
<p class="text-success">text-success</p>
<p class="text-warning">text-warning</p>
<p class="text-danger">text-danger</p>
<p class="text-white">text-white</p>
<p class="text-light">text-light</p>
<p class="text-dark">text-dark</p>
<p class="text-transparent">text-transparent</p>

bg-primary
<div class="bg-primary p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-secondary
<div class="bg-secondary p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-info
<div class="bg-info p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-success
<div class="bg-success p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-warning
<div class="bg-warning p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-danger
<div class="bg-danger p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-white
<div class="bg-white p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-light
<div class="bg-light p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-dark
<div class="bg-dark p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

bg-transparent
<div class="bg-transparent p-2">
  <p class="text-primary">text-primary</p>
  <p class="text-secondary">text-secondary</p>
  <p class="text-info">text-info</p>
  <p class="text-success">text-success</p>
  <p class="text-warning">text-warning</p>
  <p class="text-danger">text-danger</p>
  <p class="text-white">text-white</p>
  <p class="text-light">text-light</p>
  <p class="text-dark">text-dark</p>
  <p class="text-transparent">text-transparent</p>
</div>

<div id="accordionDiv" class="m-3">
  <div class="card">
    <div class="card-header" id="headingDiv">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDiv" aria-expanded="false"
          aria-controls="collapseDiv">
          Personalizzazione
        </button>
      </h5>
    </div>

    <div id="collapseDiv" class="collapse" aria-labelledby="headingDiv" data-parent="#accordionDiv">
      <div class="card-body">
        <pre>
        <div markdown ngPreserveWhitespaces ngNonBindable>          

          ```css
            bg-dark &#123;
              background-color: #343a40 !important;
            &#125;
            
            a.bg-dark:hover, a.bg-dark:focus,
            button.bg-dark:hover,
            button.bg-dark:focus &#123;
              background-color: #1d2124 !important;
            &#125;
          
            .text-dark &#123;
              color: #343a40 !important;
            &#125;
            
            a.text-dark:hover, a.text-dark:focus &#123;
              color: #121416 !important;
            &#125;
          ```
          
        </div>
      </pre>
      </div>
    </div>
  </div>
</div>