<div class="text-center">
  <form class="form-signin" [formGroup]="form">
    <img class="mb-4" src="assets/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">{{'PERSONAL.LOGIN.TITLE' | translate}}</h1>

    <label for="inputEmail">{{translateKey(FLD_email.label)| translate:translateParams(FLD_email.label)}}</label>
    <ddc-init-input-text [id]="'inputEmail'" [field]="FLD_email"></ddc-init-input-text>

    <label for="inputPassword">{{translateKey(FLD_password.label)|
      translate:translateParams(FLD_password.label)}}</label>
    <ddc-init-input-password [id]="'inputPassword'" [field]="FLD_password"></ddc-init-input-password>


    <div class="checkbox mb-3">
      <label>{{translateKey(FLD_remember.label)| translate:translateParams(FLD_remember.label)}}</label>
      <ddc-init-input-checkbox [field]="FLD_remember" [options]="optionRemeber"></ddc-init-input-checkbox>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" (click)="save()">
      {{'PERSONAL.BUTTON.LOGIN'| translate}}
    </button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
