<div class="lds-default">
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
	<div [ngStyle]="getStyleDiv()"></div>
</div>
